<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="font-weight-bold">Roles</h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/dashboard" href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/roles" href="#">Lista de roles</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalles de rol</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <p class="text-muted mb-0">Id:</p>
                    <p>{{ role.id }}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <p class="text-muted mb-0">Nombre:</p>
                    <p>{{ role.name }}</p>
                  </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
