<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body">
        <p class="login-box-msg">Iniciar sesión</p>
        <form action="#" method="post" [formGroup]="form" (ngSubmit)="login()">
          <small *ngIf="requiredEmail" class="text-danger">El email es requerido</small>
          <small *ngIf="validEmail" class="text-danger">El email debe ser válido</small>
          <div class="input-group mb-3">
            <input type="email" name="email" id="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{'border-danger': requiredEmail || validEmail}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <small *ngIf="requiredPassword" class="text-danger">La contraseña es requerida</small>
          <div class="input-group mb-3">
            <input type="password" name="password" id="password" formControlName="password" class="form-control" placeholder="Contraseña" [ngClass]="{'border-danger': requiredPassword}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Continuar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
