<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="font-weight-bold">Usuarios</h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/dashboard" href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/users" href="#">Lista de usuarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalles de usuario</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <p class="text-muted mb-0">Id:</p>
                    <p>{{ user.id }}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <p class="text-muted mb-0">Nombre:</p>
                    <p>{{ user.name }}</p>
                  </div>
                  <div class="form-group">
                    <p class="text-muted mb-0">Email:</p>
                    <p>{{ user.email }}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <p class="text-muted mb-0">Rol:</p>
                    <p>{{ user.role?.name }}</p>
                  </div>
                  <div class="form-group">
                    <p class="text-muted mb-0">Estado:</p>
                    <p>
                      <span *ngIf="user.active; else inactive" class="badge badge-success">Activo</span>
                      <ng-template #inactive>
                        <span class="badge badge-danger">Inactivo</span>
                      </ng-template>
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
